//fondo COLORS
$fondo-color: rgb(250, 250, 250);
$fondo-color-navbar: white;
$fondo-color-navbar-hover-gris:#efefef;
$fondo-color-gradient-historia: linear-gradient(to right, #f99b4a, #c92d8c);
$fondo-color-historia-live:black;
$fondo-color-historia-live-recuadro:rgb(255, 1, 105);
$fondo-color-publicacion: white;

//FONT COLORS
$font-color-buscador:#8e8e8e;
$font-color-negro: rgb(38, 38, 38);
$font-color-blanco: white;
$font-color-gris-defalut: rgb(142, 142, 142);
$font-color-informacion:rgb(199, 199, 199);
$font-color-celeste-boton:rgb(0, 149, 246);


//FONT
$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-logo-insta: 'Oleo Script Swash Caps';

//BORDER
$borde-blanco-historia:2px solid white;
$borde-publicacion: 1px solid rgb(219, 219, 219);
$borde-publicacion-separador: 1px solid rgb(239, 239, 239);

//Sombra
$sombra-navbar: 0 3px 6px #b7b7b7;


