index.css html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.navbar-container {
  background: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px #b7b7b7;

  /*  Para cuando haya scroll  */
  position: sticky;
  top: 0;
  z-index: 1;
}

.material-symbols-outlined {
  cursor: pointer;
  background: none;
}

.menu-hamburguesa-icon{
  display: none;
  position: absolute;
  margin: 0 15px ;
}

.logo_insta,
.menu {
  margin: 0 15px;
  display: flex;
  align-items: center;

}


.logo_insta h3 {
  font-family: 'Oleo Script Swash Caps';
  font-size: 27px;
  cursor: pointer;
}

.expand_more {
  padding: 8px;
}



.buscador-container {
  background: #efefef;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(142, 142, 142);

}

.lupa-icon {
  margin-right: 10px;
}

#buscador {
  background: none;
  border: none;
  display: flex;
  /* flex-grow: 1; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 24px;
  width: 268px;
  outline: none;
  padding: 0;
  resize: none;
}

ul{
  display: flex;
  padding: 0px;
  margin: 0px;
}

ul button {
  margin: 0 2px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: none;
  transition: .3s ease all;
}

div.menu button:hover {
  background: #efefef;
}

.segundo-container {
  position: relative;
  display: flex;
  margin-top: 26px;
  justify-content: center;
  background: none;
}

li {
  list-style-type: none;
}

.publicaciones {
  width: 470px;
  margin-right: 32px;
}

.historias {
  background: white;
  padding: 16px 10px;
  margin-bottom: 10px;
  height: 85px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  display: flex;
  align-items: center;
}


.historias ul button {
  padding: 0px 10px;
  position: relative;
}

.historias ul button .material-symbols-outlined,
.foto_perfil {
  font-size: 56px;
}

.usuario-historia,
.agregar-comentario-container button {
  margin: 0px;
  padding: 0px;

}
.usuario-historia{
  color: rgb(38, 38, 38);
  font-size: 12px;
}

.circulo-historia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  width: 66px;
  height: 66px;
  background: linear-gradient(to right, #f99b4a, #c92d8c);
  border-radius: 50%;
}
.historias .foto-usuario{
  border-radius: 50%;
  background: white; /*Por si se usa un icono*/
  width: 56px;
  height: 56px;
  border: 2px solid white;

}
.post-container {
  margin-top: 16px;
  background: none;

}

.post-container ul {

  flex-direction: column;
  height: 100%;
}

.post {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  background: white;

}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 10px;
  border: none;
  background-color: none;
}

.usuairo-post-info {
  display: flex;
  align-items: center;
}

.usuario-foto-post {
  font-size: 42px;
}

.opciones {
  right: 10px;
}

.post-foto {
  height: auto;
  max-width: 100%;
}

.post-button strong {
  font-weight: 600;
}

.post-foto-opciones {
  padding: 0 6px;
}

.post-foto-opciones span {
  padding: 6px;

}

.favorite {
  padding-left: 0 !important;
}

.navigation {
  transform: rotate(45deg);
  font-size: 26px;
}

.add-home {
  margin-left: 298px !important;
  transform: rotate(180deg);
}

.info-like,
.info-comentarios {
  padding: 0 12px !important;
  margin: 0 0 8px 0;
}

.info-like,
.info-comentarios,
.agregar-comentario-container {
  font-size: 14px !important;
}

.comentarios,
.info-hora {
  color: rgb(142, 142, 142);
  cursor: pointer;
  margin: 8px 0 !important;
}

.info-hora {
  font-size: 10px;
}

.agregar-comentario-container {
  border-top: 1px solid rgb(239, 239, 239);
  padding: 4px 16px 4px 12px;
  display: flex;
  align-items: center;
}

.sentiment_satisfied {
  padding: 8px 12px 8px 0;
}

.agregar-comentario-container textarea {
  background: none;
  border: none;
  display: flex;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  height: 18px;
  max-height: 80px;
  outline: none;
  /*Saca el recuadro al hacer click*/
  padding: 0;
  resize: none;
  /*Sirve para sacar la opcion de agrandar el cuadro de texto*/
}

.agregar-comentario-container button,
.boton-cambiar,
.boton-seguir {
  color: rgb(0, 149, 246);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;

}

.sugerencias {
  width: 319px;
}

.config_perfil,
.datos_usuario {
  display: flex;

}

.config_perfil {
  align-items: center;
  padding: 16px 0 10px 0;
}

.datos_usuario {
  flex-direction: column;
  font-size: 14px;
  height: 32px;
  width: 100%;
  align-items: baseline !important;
}

.info-like,
.info-comentarios strong,
.usuario-id,
.usuario-nombre {
  color: rgb(38, 38, 38);
  font-weight: 600;
  cursor: pointer !important;
}

.usuario-id-botton {
  color: rgb(142, 142, 142);
  font-weight: 400;
}

.sugerencias-para-ti-container {
  justify-content: space-between;
}

.sugerencias-container div {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}

#sugerencias-para-ti {
  color: rgb(142, 142, 142);
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}

#ver-todo {
  color: rgb(39, 39, 39);
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}

.sugerencia-usuarios div {
  padding: 0;
}

.sugerencia-usuarios .foto_perfil {
  font-size: 32px;
  padding-right: 10px;
}

.sugerencia-usuarios .usuario-id-botton {
  font-size: 12px;
}

.informacion-container {
  display: flex;
  flex-direction: column;
  margin: 12px 0 16px 0;
  color: rgb(199, 199, 199);
  font-size: 12px;
  font-weight: 400;
}

.informacion-container ul {
  flex-wrap: wrap;
}

.informacion-container li {
  cursor: pointer;
}

.informacion-container ul li :hover {
  text-decoration: underline;
}

.informacion-container ul li:not(:last-child) ::after {
  /*Agrega el punto. Se puede escribir directamente el simbolo*/
  content: '\00B7';
  margin: 0 0.25em;
  display: inline-block;
}


.informacion-container span {
  text-transform: uppercase;
  margin-top: 16px;
}

@media screen and (max-width: 900px) {

  .sugerencias {
    display: none;
  }

  .publicaciones {
    display: block;
    left: 50%;
  }

  .buscador-container {
    display: none;
  }

}

@media screen and (max-width: 600px) {
  .logo_insta{
    width: 100%;
  }
  .menu,
  .expand_more{
    display: none;
  }

  .menu-hamburguesa-icon{
    display: inline-block;
  }

  .logo_insta{
    position: relative;
    justify-content: center;
 
  }

}



