@charset "UTF-8";
index.css html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.material-symbols-outlined {
  cursor: pointer;
  background: none;
}

.navbar-container {
  background: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px #b7b7b7;
  /*  Para cuando haya scroll  */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-container .icono-menu-hamburguesa {
  display: none;
  position: absolute;
  margin: 0 15px;
  z-index: 1;
}
.navbar-container .logo_insta,
.navbar-container .menu {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.navbar-container .logo_insta h3 {
  font-family: "Oleo Script Swash Caps";
  font-size: 27px;
  cursor: pointer;
}
.navbar-container .logo_insta .icono-expand_more {
  padding: 8px;
}
.navbar-container .buscador-container {
  background: #efefef;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: #8e8e8e;
}
.navbar-container .buscador-container .lupa-icon {
  margin-right: 10px;
}
.navbar-container .buscador-container .buscador {
  background: none;
  border: none;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 24px;
  width: 268px;
  outline: none;
  padding: 0;
  resize: none;
}
.navbar-container .menu button:hover {
  background: #efefef;
}
@media screen and (max-width: 900px) {
  .navbar-container .logo_insta {
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .navbar-container .menu,
.navbar-container .icono-expand_more {
    display: none;
  }
  .navbar-container .icono-menu-hamburguesa {
    display: inline-block;
  }
  .navbar-container .buscador-container {
    display: none;
  }
}

ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
ul li {
  list-style-type: none;
}
ul button {
  margin: 0 2px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: none;
  transition: 0.3s ease all;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.segundo-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 26px;
  background: none;
  color: rgb(38, 38, 38);
}
.segundo-container .publicaciones {
  width: 470px;
  margin-right: 32px;
}
.segundo-container .publicaciones .historias {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  margin-bottom: 10px;
  height: 85px;
  background: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
}
.segundo-container .publicaciones .historias ul button {
  padding: 0px 10px;
  position: relative;
}
.segundo-container .publicaciones .historias ul button .material-symbols-outlined {
  font-size: 56px;
}
.segundo-container .publicaciones .historias ul button .usuario-historia {
  margin: 0px;
  padding: 2px;
  color: rgb(38, 38, 38);
  font-size: 12px;
}
.segundo-container .publicaciones .historias ul button .circulo-historia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  width: 66px;
  height: 66px;
  background: linear-gradient(to right, #f99b4a, #c92d8c);
  border-radius: 50%;
}
.segundo-container .publicaciones .historias ul button .circulo-historia .foto-usuario {
  border-radius: 50%;
  background: white;
  /*Por si se usa un icono*/
  width: 56px;
  height: 56px;
  border: 2px solid white;
}
.segundo-container .publicaciones .historias ul button .circulo-live .foto-usuario {
  font-size: 36px;
  width: 36px;
  height: 36px;
}
.segundo-container .publicaciones .historias ul button .circulo-live .cirulo-live-negro {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  background: black;
  width: 56px;
  height: 56px;
}
.segundo-container .publicaciones .historias ul button .circulo-live .live {
  position: absolute;
  bottom: 17px;
  background: rgb(255, 1, 105);
  font-size: 8px;
  font-weight: 600;
  color: white;
  vertical-align: baseline;
  line-height: 12px;
  border-radius: 4px;
  border: 2px solid white;
  padding: 0 4px;
}
.segundo-container .publicaciones .post-container {
  margin-top: 16px;
  background: none;
}
.segundo-container .publicaciones .post-container ul {
  flex-direction: column;
  height: 100%;
}
.segundo-container .publicaciones .post-container ul .post {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  background: white;
}
.segundo-container .publicaciones .post-container ul .post .post-top {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  padding: 10px;
  border: none;
  background-color: none;
}
.segundo-container .publicaciones .post-container ul .post .post-top .usuairo-post-info {
  display: flex;
  align-items: center;
}
.segundo-container .publicaciones .post-container ul .post .post-top .usuairo-post-info .usuario-nombre {
  font-weight: 600;
  cursor: pointer;
}
.segundo-container .publicaciones .post-container ul .post .post-top .usuairo-post-info .usuario-foto-post {
  font-size: 42px;
}
.segundo-container .publicaciones .post-container ul .post .post-top .opciones {
  right: 10px;
}
.segundo-container .publicaciones .post-container ul .post .post-foto {
  height: auto;
  max-width: 100%;
}
.segundo-container .publicaciones .post-container ul .post .post-button .post-foto-opciones {
  padding: 0 6px;
}
.segundo-container .publicaciones .post-container ul .post .post-button .post-foto-opciones .material-symbols-outlined {
  padding: 6px;
}
.segundo-container .publicaciones .post-container ul .post .post-button .post-foto-opciones .icono-navigation {
  transform: rotate(45deg);
  font-size: 26px;
}
.segundo-container .publicaciones .post-container ul .post .post-button .post-foto-opciones .icono-add-home {
  margin-left: 298px;
  transform: rotate(180deg);
}
.segundo-container .publicaciones .post-container ul .post .post-button .info-like,
.segundo-container .publicaciones .post-container ul .post .post-button .info-comentarios {
  padding: 0 12px;
  margin: 0 0 8px 0;
  font-size: 14px;
}
.segundo-container .publicaciones .post-container ul .post .post-button .info-like strong,
.segundo-container .publicaciones .post-container ul .post .post-button .info-comentarios strong {
  font-weight: 600;
  cursor: pointer;
}
.segundo-container .publicaciones .post-container ul .post .post-button .info-comentarios .comentarios,
.segundo-container .publicaciones .post-container ul .post .post-button .info-comentarios .info-hora {
  color: rgb(142, 142, 142);
  cursor: pointer;
  margin: 8px 0;
}
.segundo-container .publicaciones .post-container ul .post .post-button .info-comentarios .info-hora {
  font-size: 10px;
}
.segundo-container .publicaciones .post-container ul .post .post-button .agregar-comentario-container {
  border-top: 1px solid rgb(239, 239, 239);
  padding: 4px 16px 4px 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  /*Ver si sirve*/
}
.segundo-container .publicaciones .post-container ul .post .post-button .agregar-comentario-container .icono-sentiment_satisfied {
  padding: 8px 12px 8px 0;
}
.segundo-container .publicaciones .post-container ul .post .post-button .agregar-comentario-container textarea {
  background: none;
  border: none;
  display: flex;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 18px;
  max-height: 80px;
  outline: none;
  /*Saca el recuadro al hacer click*/
  padding: 0;
  resize: none;
  /*Sirve para sacar la opcion de agrandar el cuadro de texto*/
}
.segundo-container .publicaciones .post-container ul .post .post-button .agregar-comentario-container button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  color: rgb(0, 149, 246);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.segundo-container .sugerencias {
  width: 319px;
}
.segundo-container .sugerencias .boton-cambiar,
.segundo-container .sugerencias .boton-seguir {
  padding: 0px;
  border: none;
  background: none;
  color: rgb(0, 149, 246);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.segundo-container .sugerencias .datos_usuario {
  flex-direction: column;
  font-size: 14px;
  height: 32px;
  width: 100%;
  align-items: baseline !important;
}
.segundo-container .sugerencias .datos_usuario .usuario-id {
  font-weight: 600;
  cursor: pointer;
}
.segundo-container .sugerencias .datos_usuario .usuario-id-botton {
  color: rgb(142, 142, 142);
  font-weight: 400;
}
.segundo-container .sugerencias .config_perfil {
  display: flex;
  align-items: center;
  padding: 16px 0 10px 0;
}
.segundo-container .sugerencias .config_perfil .foto_perfil {
  font-size: 56px;
}
.segundo-container .sugerencias .sugerencias-container {
  font-weight: 600;
}
.segundo-container .sugerencias .sugerencias-container .sugerencias-para-ti-container,
.segundo-container .sugerencias .sugerencias-container .sugerencia-usuarios {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.segundo-container .sugerencias .sugerencias-container .sugerencia-usuarios {
  padding: 8px 0px;
}
.segundo-container .sugerencias .sugerencias-container .sugerencia-usuarios div {
  padding: 0;
}
.segundo-container .sugerencias .sugerencias-container .sugerencia-usuarios .foto_perfil {
  font-size: 32px;
  padding-right: 10px;
}
.segundo-container .sugerencias .sugerencias-container .sugerencia-usuarios .usuario-id-botton {
  font-size: 12px;
}
.segundo-container .sugerencias .sugerencias-container .sugerencias-para-ti-container {
  padding: 4px 0px;
}
.segundo-container .sugerencias .sugerencias-container .sugerencias-para-ti-container #sugerencias-para-ti {
  font-size: 14px;
  color: rgb(142, 142, 142);
}
.segundo-container .sugerencias .sugerencias-container .sugerencias-para-ti-container #ver-todo {
  font-size: 12px;
  cursor: pointer;
}
.segundo-container .sugerencias .informacion-container {
  display: flex;
  flex-direction: column;
  margin: 12px 0 16px 0;
  color: rgb(199, 199, 199);
  font-size: 12px;
  font-weight: 400;
}
.segundo-container .sugerencias .informacion-container ul {
  flex-wrap: wrap;
}
.segundo-container .sugerencias .informacion-container ul li {
  cursor: pointer;
}
.segundo-container .sugerencias .informacion-container ul li:hover {
  text-decoration: underline;
}
.segundo-container .sugerencias .informacion-container ul li:not(:last-child)::after {
  /*Agrega el punto. Se puede escribir directamente el simbolo*/
  content: "·";
  margin: 0 0.25em;
  display: inline-block;
}
.segundo-container .sugerencias .informacion-container span {
  text-transform: uppercase;
  margin-top: 16px;
}
@media screen and (max-width: 900px) {
  .segundo-container .sugerencias {
    display: none;
  }
  .segundo-container .publicaciones {
    display: block;
    left: 50%;
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */