@import "_variables.scss";

index.css html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: $fondo-color;
  font-family: $font-default;
}

.material-symbols-outlined {
  cursor: pointer;
  background: none;
}


.navbar-container {
  background: $fondo-color-navbar;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $sombra-navbar;

  /*  Para cuando haya scroll  */
  position: sticky;
  top: 0;
  z-index: 1;

  .icono-menu-hamburguesa {
    display: none;
    position: absolute;
    margin: 0 15px;
    z-index: 1;
  }

  .logo_insta,
  .menu {
    margin: 0 15px;
    display: flex;
    align-items: center;

  }

  .logo_insta {
    h3 {
      font-family: $font-logo-insta;
      font-size: 27px;
      cursor: pointer;
    }

    .icono-expand_more {
      padding: 8px;
    }
  }


  .buscador-container {
    background: $fondo-color-navbar-hover-gris;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: $font-color-buscador;

    .lupa-icon {
      margin-right: 10px;
    }

    .buscador {
      background: none;
      border: none;
      display: flex;
      font-family: $font-default;
      font-size: 16px;
      height: 24px;
      width: 268px;
      outline: none;
      padding: 0;
      resize: none;
    }
  }

  .menu {
    button {
      &:hover {
        background: $fondo-color-navbar-hover-gris;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .logo_insta {
      width: 100%;
      position: relative;
      justify-content: center;
    }

    .menu,
    .icono-expand_more {
      display: none;
    }

    .icono-menu-hamburguesa {
      display: inline-block;
    }

    .buscador-container {
      display: none;
    }
  }

}

ul {
  display: flex;
  padding: 0px;
  margin: 0px;

  li {
    list-style-type: none;
  }

  button {
    margin: 0 2px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: none;
    transition: .3s ease all;
    font-family: $font-default;
  }
}



.segundo-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 26px;
  background: none;
  color: $font-color-negro;

  .publicaciones {
    width: 470px;
    margin-right: 32px;

    .historias {
      display: flex;
      align-items: center;
      padding: 16px 10px;
      margin-bottom: 10px;
      height: 85px;
      background: $fondo-color-publicacion;
      border: $borde-publicacion;
      border-radius: 8px;

      ul {
        button {
          padding: 0px 10px;
          position: relative;

          .material-symbols-outlined {
            font-size: 56px;
          }

          .usuario-historia {
            margin: 0px;
            padding: 2px;
            color: $font-color-negro;
            font-size: 12px;
          }

          .circulo-historia {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px 0;
            width: 66px;
            height: 66px;
            background: $fondo-color-gradient-historia;
            border-radius: 50%;

            .foto-usuario {
              border-radius: 50%;
              background: white;
              /*Por si se usa un icono*/
              width: 56px;
              height: 56px;
              border: $borde-blanco-historia;

            }
          }

          .circulo-live {

            .foto-usuario {
              font-size: 36px;
              width: 36px;
              height: 36px;
            }

            .cirulo-live-negro {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: $borde-blanco-historia;
              background: $fondo-color-historia-live;
              width: 56px;
              height: 56px;
            }

            .live {
              position: absolute;
              bottom: 17px;
              background: $fondo-color-historia-live-recuadro;
              font-size: 8px;
              font-weight: 600;
              color: $font-color-blanco;
              vertical-align: baseline;
              line-height: 12px;
              border-radius: 4px;
              border: $borde-blanco-historia;
              padding: 0 4px;
            }
          }
        }
      }
    }

    .post-container {
      margin-top: 16px;
      background: none;

      ul {
        flex-direction: column;
        height: 100%;

        .post {
          margin-bottom: 10px;
          width: 100%;
          border: $borde-publicacion;
          border-radius: 8px;
          background: $fondo-color-publicacion;

          .post-top {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            padding: 10px;
            border: none;
            background-color: none;

            .usuairo-post-info {
              display: flex;
              align-items: center;

              .usuario-nombre {
                font-weight: 600;
                cursor: pointer;
              }

              .usuario-foto-post {
                font-size: 42px;
              }
            }

            .opciones {
              right: 10px;
            }
          }

          .post-foto {
            height: auto;
            max-width: 100%;
          }

          .post-button {
            .post-foto-opciones {
              padding: 0 6px;

              .material-symbols-outlined {
                padding: 6px;
              }

              .icono-navigation {
                transform: rotate(45deg);
                font-size: 26px;
              }

              .icono-add-home {
                margin-left: 298px;
                transform: rotate(180deg);
              }
            }

            .info-like,
            .info-comentarios {
              padding: 0 12px;
              margin: 0 0 8px 0;
              font-size: 14px;

              strong {
                font-weight: 600;
                cursor: pointer;
              }
            }

            .info-comentarios {

              .comentarios,
              .info-hora {
                color: $font-color-gris-defalut;
                cursor: pointer;
                margin: 8px 0;
              }

              .info-hora {
                font-size: 10px;
              }

            }

            .agregar-comentario-container {
              border-top: $borde-publicacion-separador;
              padding: 4px 16px 4px 12px;
              display: flex;
              align-items: center;
              font-size: 14px;
              /*Ver si sirve*/

              .icono-sentiment_satisfied {
                padding: 8px 12px 8px 0;
              }

              textarea {
                background: none;
                border: none;
                display: flex;
                flex-grow: 1;
                font-family: $font-default;
                height: 18px;
                max-height: 80px;
                outline: none;
                /*Saca el recuadro al hacer click*/
                padding: 0;
                resize: none;
                /*Sirve para sacar la opcion de agrandar el cuadro de texto*/
              }

              button {
                margin: 0px;
                padding: 0px;
                border: none;
                background: none;
                color: $font-color-celeste-boton;
                font-family: $font-default;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;

              }

            }
          }
        }
      }
    }

  }

  .sugerencias {
    width: 319px;

    .boton-cambiar,
    .boton-seguir {
      padding: 0px;
      border: none;
      background: none;
      color: $font-color-celeste-boton;
      font-family: $font-default;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }

    .datos_usuario {
      // display: flex;
      flex-direction: column;
      font-size: 14px;
      height: 32px;
      width: 100%;
      align-items: baseline !important;

      .usuario-id {
        font-weight: 600;
        cursor: pointer;
      }

      .usuario-id-botton {
        color: $font-color-gris-defalut;
        font-weight: 400;
      }
    }

    .config_perfil {
      display: flex;
      align-items: center;
      padding: 16px 0 10px 0;

      .foto_perfil {
        font-size: 56px;
      }
    }

    .sugerencias-container {
      font-weight: 600;

      .sugerencias-para-ti-container,
      .sugerencia-usuarios {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      }

      .sugerencia-usuarios {
        padding: 8px 0px;

        div {
          padding: 0;
        }

        .foto_perfil {
          font-size: 32px;
          padding-right: 10px;
        }

        .usuario-id-botton {
          font-size: 12px;

        }

      }
      .sugerencias-para-ti-container{
        padding: 4px 0px;
        #sugerencias-para-ti {
            font-size: 14px;
            color: $font-color-gris-defalut;
          }
      
          #ver-todo {
            font-size: 12px;
            cursor: pointer;
          }
      }

    }

    

    .informacion-container {
      display: flex;
      flex-direction: column;
      margin: 12px 0 16px 0;
      color: $font-color-informacion;
      font-size: 12px;
      font-weight: 400;

      ul {
        flex-wrap: wrap;

        li {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          &:not(:last-child) {
            &::after {
              /*Agrega el punto. Se puede escribir directamente el simbolo*/
              content: '\00B7';
              margin: 0 0.25em;
              display: inline-block;
            }
          }

        }
      }

      span {
        text-transform: uppercase;
        margin-top: 16px;
      }
    }
  }

  @media screen and (max-width: 900px) {

    .sugerencias {
      display: none;
    }

    .publicaciones {
      display: block;
      left: 50%;
      margin: 0;
    }

  }
}